<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="../static/common.css">
    <link rel="stylesheet" href="../static/about.css">
</head>
<body>
{% include 'common_nav.html' %}
<section>
    <h2>About Us</h2>
    <div class="supervisor">
        <h3>Supervisor</h3>
        <ul>
            <li>
                <img src="../static/app_photos/arda_sezen.jpeg" alt="Arda Sezen">
                <p>Arda Sezen</p>
                <p>Atilim University</p>
            </li>
        </ul>
    </div>
    <div class="students">
        <h3>Students</h3>
        <ul>
            <li>
                <img src="../static/app_photos/ahmet.jpeg" alt="Ahmet Utku Saka">
                <p>Ahmet Utku Saka</p>
                <p>Computer Engineering</p>
            </li>
            <li>
                <img src="../static/app_photos/ecem.jpeg" alt="Ecem Erbay">
                <p>Ecem Erbay</p>
                <p>Software Engineering</p>
            </li>
            <li>
                <img src="../static/app_photos/elif.jpeg" alt="Elif Akyüz">
                <p>Elif Akyüz</p>
                <p>Software Engineering</p>
            </li>
            <li>
                <img src="../static/app_photos/amirli.jpg" alt="Fazil Amirli">
                <p>Fazil Amirli</p>
                <p>Computer Engineering</p>
            </li>
            <li>
                <img src="../static/app_photos/feyza.jpeg" alt="Feyza Nur Güler">
                <p>Feyza Nur Güler</p>
                <p>Computer Engineering</p>
            </li>

        </ul>
    </div>
</section>

</body>
</html>