<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Challenges</title>
    <link rel="stylesheet" href="../static/common.css">
</head>
<body>
{% include 'common_nav.html' %}

<section id="challenges">
    <h2>Challenges</h2>
    <p>
        During the development process, we encountered several challenges that shaped our approach and outcomes.
        Initially, finding a suitable dataset aligned with our project objectives posed a significant challenge. Many
        publicly available datasets lacked the necessary features and targets required for our breast cancer prediction
        system. However, after careful consideration, we identified a dataset that met our requirements and proceeded
        with our development efforts.
        <br><br>
        Another challenge we faced was selecting the most effective machine learning algorithm for breast cancer tumor
        stage prediction. We trained multiple algorithms and evaluated their performance. Decision trees exhibited
        overfitting issues, while AdaBoost yielded moderate results. However, both random forest and gradient boosting
        classifier showed promising outcomes. After careful consideration, we chose gradient boosting due to its
        interpretability, reduced bias, and ability to handle imbalanced data. These advantages contributed to improved
        predictive power and made gradient boosting the ideal choice for accurate predictions and fair treatment of
        minority classes.
        <br><br>
        Lessons learned from this project were valuable in terms of managing expectations. We realized the importance of
        aligning expectations with available resources and technology. Initially, we had ambitious goals, but we
        encountered limitations related to dataset availability and technological constraints. Moving forward, we will
        conduct thorough research and assessments to better understand the feasibility and compatibility of datasets and
        technology. By managing expectations effectively, we can set realistic goals and deliverables, ultimately
        improving project success.
    </p>
</section>

<section id="lessons-learned">
    <h2>Lessons Learned</h2>
    <p>
        One valuable lesson learned from this project is the significance of managing expectations within the given
        resources and technological capabilities. Setting realistic goals and deliverables that align with the available
        resources is essential for project success. Thorough research and assessments early on can help identify
        potential challenges and constraints. By managing expectations effectively, we can adapt our approach and ensure
        achievable outcomes that meet project objectives.
    </p>
</section>
</body>
</html>