<div class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__items">
            <li class="main-header__item"><a href="{{ url_for('home') }}">Home</a></li>
            <li class="main-header__item"><a href="{{ url_for('predict') }}">Prediction</a></li>
            <li class="main-header__item"><a href="{{ url_for('about') }}">About Us</a></li>
            <li class="main-header__item"><a href="{{ url_for('dataset_info') }}">Dataset</a></li>
            <li class="main-header__item"><a href="{{ url_for('challenges') }}">Challenges</a></li>
            <li class="main-header__item"><a href="{{ url_for('stage_info') }}">Stage Information</a></li>
        </ul>
    </nav>
</div>