<!DOCTYPE html>
<html>
  <head>
    <title>Marilith Grad - Home</title>
    <link rel="stylesheet" href="../static/common.css">
  </head>
  <body>
    {%   include 'common_nav.html' %}
    <h1>Marilith Grad Project Home Page</h1>
    <p>
        This app is developed by team Marilith for the 2022-2023 graduation project.
        The purpose of the app is to provide decision support mechanism for healthcare professionals by
        using <span class="topic">Machine Learning</span> algorithms.
    </p>
  </body>
</html>
