<!DOCTYPE html>
<html>
<head>
    <title>Stage Information</title>
    <link rel="stylesheet" href="../static/common.css">
    <link rel="stylesheet" type="text/css" href="../static/style_info.css">
</head>
<body>
<h1>Stage Information</h1>
{% include 'common_nav.html' %}
<h2 class="stage-num">Stage 1</h2>
<p>
    Stage I breast cancers are small and have not spread to the lymph nodes or have only spread to a tiny area in the
    sentinel lymph node. The main treatment is surgery with either breast-conserving surgery or mastectomy, along with
    checking the nearby lymph nodes with either SLNB or ALND. Breast reconstruction can be done at the same time as
    surgery, but it is better to wait if radiation therapy is needed.

    After BCS, radiation therapy is usually given to lower the chance of the cancer coming back and to improve survival
    rates. Women at least 65 years old with certain characteristics may consider BCS without radiation therapy if the
    cancer is ER-positive or PR-positive and hormone therapy will be given. For those who had a mastectomy, the need for
    radiation therapy depends on the specific details of their cancer, and they should discuss it with their doctor or a
    radiation oncologist.

    For hormone receptor-positive breast cancer, hormone therapy is usually recommended as an adjuvant treatment for at
    least 5 years, with some benefit for tumors larger than 0.5 cm. Chemo may be recommended after surgery for tumors
    larger than 0.5 cm and for smaller tumors with unfavorable features. HER2-positive cancers may be treated with
    trastuzumab (with or without pertuzumab) before and after surgery, and ado-trastuzumab emtansine may be used if
    residual cancer is found during surgery. Women with a BRCA mutation and hormone-positive, HER2-negative breast
    cancer may receive olaparib after surgery if residual cancer is found, with potential benefit for survival.
</p>

<h2 class="stage-num">Stage 2</h2>
<p>
    Stage II breast cancers are larger and may have spread to a few nearby lymph nodes. Local therapy involves either
    breast-conserving surgery or mastectomy and checking nearby lymph nodes with a sentinel lymph node biopsy or
    axillary lymph node dissection.

    For women with stage II breast cancer, radiation therapy is typically given after BCS or mastectomy if cancer is
    found in the lymph nodes. For those with cancer in a few lymph nodes, radiation after mastectomy may be an option
    instead of removing the rest of the lymph nodes. Radiation may also be recommended if cancer is found in the lymph
    nodes during mastectomy after systemic treatment. Radiation may be delayed if chemotherapy is also needed after
    surgery.

    Breast reconstruction can be done during cancer removal surgery, but it's better to wait until after radiation
    therapy. Systemic therapy is recommended for some women with stage II breast cancer, with options including
    neoadjuvant therapy before surgery or adjuvant therapy after surgery. Neoadjuvant treatment can shrink tumors,
    making BCS an option, and is preferred for TNBC or HER2-positive breast cancer. Neoadjuvant treatment may lead to
    longer survival if cancer completely goes away.

    For stage II hormone receptor-positive, HER2-negative breast cancer, a gene panel test like Oncotype DX may be done
    to determine the need for chemotherapy. The treatment plan might include chemotherapy before or after surgery and
    HER2 targeted drugs like trastuzumab or ado-trastuzumab emtansine for HER2-positive cancers. For hormone
    receptor-positive cancers found in the lymph nodes after 1 year of trastuzumab, neratinib may be recommended for an
    additional year.

    For hormone receptor-positive breast cancer, hormone therapy like tamoxifen or an aromatase inhibitor is typically
    given for at least 5 years after surgery. For early-stage breast cancer that is hormone receptor-positive,
    HER2-negative, with cancer in the lymph nodes and a high chance of recurrence, abemaciclib can be given after
    surgery along with tamoxifen or an AI. Olaparib may be given for one year to women with BRCA mutation and hormone
    receptor-positive, HER2-negative tumors who have cancer in the removed tissue after neoadjuvant chemo. Immunotherapy
    drug, pembrolizumab, may be given before and after surgery for TNBC.
</p>

<h2 class="stage-num">Stage 3</h2>
<p>
    Stage III breast cancer is larger, has grown into nearby tissues, or has spread to nearby lymph nodes. Neoadjuvant
    chemotherapy is the main treatment, along with targeted drug trastuzumab for HER2-positive tumors. The tumor may
    shrink enough for BCS or a mastectomy is done. Radiation therapy is often needed after surgery with an axillary
    lymph node dissection. Additional chemo may be given after surgery, and breast reconstruction is usually delayed
    until radiation therapy is done. Inflammatory breast cancer treated slightly different from other stage III breast
    cancers.

    For HER2-positive breast cancers, trastuzumab (with or without pertuzumab) may be given after surgery for up to a
    year. Ado-trastuzumab emtansine may be used instead of trastuzumab if any residual cancer is found after neoadjuvant
    therapy. Neratinib may be recommended for hormone receptor-positive cancer in lymph nodes after a year of
    trastuzumab. Adjuvant hormone therapy is also given for hormone receptor-positive cancers, which can be taken with
    trastuzumab.

    For hormone receptor-positive, HER2-negative breast cancer in the lymph nodes, abemaciclib can be given after
    surgery along with tamoxifen or an AI for 2 years. Olaparib may be given for a year for women with BRCA mutation and
    hormone receptor-positive, HER2-negative tumors. Neoadjuvant treatment before surgery is recommended for stage III
    TNBC or HER2-positive breast cancer. Pembrolizumab may be given before and after surgery for TNBC.

    Surgery first is an option for some women with stage III cancer, usually a mastectomy. SLNB may be an option, but
    most will need ALND. Adjuvant chemotherapy, hormone therapy, targeted drug therapy or HER2-positive treatment is
    given after surgery depending on cancer traits. Radiation is recommended.
</p>

<hr>

<p>Information reference: <a class="info-link" href="https://amp.cancer
.org/cancer/types/breast-cancer/treatment/treatment-of-breast-cancer-by-stage/treatment-of-breast-cancer-stages-i-iii
.html" target="_blank">American Cancer Society</a></p>
</body>
</html>
