/* predict.css */


body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="checkbox"],
input[type="radio"] {
    margin-bottom: 10px;
}

input[type="range"] {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

/*.positive-lymph-nodes {*/
/*    width: 100%;*/
/*    box-sizing: border-box;*/
/*}*/

input[type="number"],
input[type="radio"] + label {
    margin-left: 10px;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.range-container {
    width: 300px; /* Set the width of the parent container */
    position: relative; /* Create a relative positioning context */
}

.positive-lymph-nodes {
    width: 100%; /* Make the range input fill the parent container */
    box-sizing: border-box; /* Include padding and border in the width calculation */
}